<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practicagrancentre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Gran Centre"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".Business"></activity>
        <activity android:name=".Movies" />
        <activity android:name=".Transport" />
        <activity android:name=".Restaurante" android:theme="@style/AppTheme"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>